<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Evently
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment
      #segment
      value="ion-sb-1"
      mode="md"
      (ionChange)="segmentChanged($event)">
      <ion-segment-button>
        <ion-label>Broadcast</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Channels</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Schedule</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-slides
    #slider
    pager="false"
    (ionSlideWillChange)="slideChanged()"
    [options]="slideOpts">
    <ion-slide>
      <app-b-broadcast></app-b-broadcast>
    </ion-slide>
    <ion-slide>
      <app-c-channels></app-c-channels>
    </ion-slide>
    <ion-slide>
      <app-s-schedule></app-s-schedule>
    </ion-slide>
  </ion-slides>
</ion-content>