<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Evently
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment
      #segment
      value="ion-sb-1"
      mode="md"  [(ngModel)]="segmentModel" 
      (ionChange)="segmentChanged($event)">
      <ion-segment-button value="broadcast">
        <ion-label>Broadcast</ion-label>
      </ion-segment-button>
      <ion-segment-button value="channels">
        <ion-label>Channels</ion-label>
      </ion-segment-button>
      <ion-segment-button value ="schedule">
        <ion-label>Schedule</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
      <app-b-broadcast *ngIf= "segmentModel === 'broadcast'"></app-b-broadcast>
   
      <app-c-channels *ngIf = "segmentModel === 'channels'"></app-c-channels>
   
      <app-s-schedule *ngIf = "segmentModel === 'schedule'"></app-s-schedule>
  
</ion-content>