<ion-header translucent="true" (click)="dismiss()" class="ion-no-border">
 
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-align-self-end">About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
    
      <div style="margin-top: 15px;" class="ion-padding">
        <ion-text >
          This study focuses on addressing the challenges facing the dissemination of information in 
          the University among lecturers, students and non-academic staff as it makes room for the 
          introduction of an event broadcast mobile application that takes into account the various 
          preferences of numerous categories of users.
          <br><br>
          At the moment, in most Universities, information regarding upcoming events is disseminated 
          via notice boards, letters submitted in hardcopy, word of mouth, and more recently, the use 
          of WhatsApp groups for those who are already in the group. 
        </ion-text>
      </div>

      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/images/avatar.png" />
        </ion-avatar>
        <ion-label>Mouka Ebelechukwu <br>
          Matric No: CSC/MSC/17/009
        </ion-label>
      </ion-item>
     

</ion-content>