<ion-header translucent="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-button expand="block" routerLink="/component-details">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Following</ion-title>
    <ion-button slot="end" fill="clear"  slot="end" class="md ion-activatable ion-focusable " >
      <ion-icon  class="icon-medium md" name="ellipsis-vertical-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content style="background-color: #fafafa;">

  <ion-text color="primary">
    <h1 style="padding-left: 15px;" class="ion-text-left">Following List</h1>
  </ion-text>
  <ion-list class="margin-bottom ion-no-padding" color="transparent">
    <ion-item *ngFor="let data of datas" class="ion-activatable">
      <ngx-avatar slot="start" *ngIf="null == data.img_url" class="img" name="{{data.fullname}}"></ngx-avatar>
      <ion-avatar slot="start" *ngIf="null !== data.img_url">
        <img [src]="data.img_url" />
        <ion-ripple-effect></ion-ripple-effect>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 class="text-height">
          <strong>{{ data.fullname }}</strong>
          
        </h2>
        <p class="text-height">{{ data.name}}</p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
</ion-content>

